.menuBar {
    border:1px solid rgb(211,211,211);
    color:#ffffff;
    font-family: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
}
.barTitle {
    height:55px;
    background-color:#B1191A;
    font-weight:bold;
}

.barTitleText {
    float:left;
    width:100%;
    margin-top:20px;
    text-indent: 12px;
}

.menuTitleText {
    font-size: 14px;    
    font-family: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
    margin-top:6px;
    margin-left:10px;
    float:left;
}


.menuTitle {
    border-top: 1px dotted #fff;
    background-color:#c81623;
    height:35px;
    cursor:pointer;
}
.menuTitle:hover{
    color: #b61d1d;
    background-color: #fff;
}
.menuTitleIcon {
    margin-top:8px;
    float:left;
}

.menuContent {
    /*	height:150px;*/
    color:#FFFFFF;
    display:none;
    overflow:auto;
    text-align:left;
}
a {
    color:#000000;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;/*underline*/
}

.menuItem {
    font-size: 14px;
    height:29px;
    padding-top: 6px;
    text-indent: 25px;
    border-top: 1px dotted #fff;
    background-color: #e81c1c;
    cursor:pointer;
}
.menuItem:hover{
    color: #e81c1c;
    background-color: #fff;
}